@model AddUserToRoleInputModel

@{
    ViewData["Title"] = "Изтриване на потребител";
}
<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="alert-danger">Сигурен ли сте, че искате да изтриете този потребител?</h3>

<ul>
    <li>
        <div><span class="font-weight-lighter alert-warning">ИД на потребителя: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.UserId</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Име: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.FirstName</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Фамилия: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.LastName</span></div>
    </li>
    @*<li>
        <div><span class="font-weight-lighter alert-warning">Стойност на плащане: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.OfficePosition</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Дело ИД: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.PhoneNumber</span></div>
    </li>*@
    @*<li>
        <div><span class="font-weight-lighter alert-warning">Роля: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.RoleName</span></div>
    </li>*@
</ul>

<form asp-area="Admin" asp-controller="Home" asp-action="DeleteUserConfirm" asp-route-id="@Model.UserId" method="post">
    <input type="hidden" asp-for="@Model.UserId" />
    <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
    <a class="btn btn-info" asp-action="AllUsers">Обратно</a>
</form>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}
