@model ExecutorsEditViewModel

@{
    ViewData["Title"] = "Изтрий ";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="alert-danger">Сигурен ли сте, че искате да изтриете този съдебен изпълнител?</h3>

<ul>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">ИД: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Служебен номер: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Number</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Имена: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Name</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Адрес: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Address</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Регион: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Region</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Телефон: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Telephon</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Електронна поща: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Email</span>
        </div>
    </li>
</ul>
<hr />


<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
    <a class="btn btn-info" asp-action="Index">Обратно</a>
</form>
