

@{
    ViewData["Title"] = "Изтрий съдебен изпълнител";
}

<h1>@ViewData["Title"]</h1>
<h2>Сигурен ли сте, че искате да изтриете този съдебен изпълнител?</h2>


<p>ИД: @Model.Id</p>
<hr />
<p>Служебен номер: @Model.Number</p><hr />
<p>Имена: @Model.Name</p><hr />
<p>Адрес: @Model.Address</p><hr />
<p>Регион: @Model.Region</p><hr />
<p>Телефон: @Model.Telephon</p><hr />
<p>Ел поща: @Model.Email</p><hr />


<p>
    <a asp-action="All" class="btn btn-primary">Обратно</a>
    <a asp-action="DeleteConfirm" asp-route-Id="@Model.Id" class="btn btn-danger">Изтрий</a>
