@model DebitorEditViewModel

@{
    ViewData["Title"] = "Изтрий длъжник";
    var addressToContact = string.IsNullOrWhiteSpace(Model.AddressToContact) ? "n/a" : Model.AddressToContact;
    var email = string.IsNullOrWhiteSpace(Model.Email) ? "n/a" : Model.AddressToContact;
    var phone = string.IsNullOrWhiteSpace(Model.Phone) ? "n/a" : Model.AddressToContact;
    var representative = string.IsNullOrWhiteSpace(Model.Representative) ? "n/a" : Model.Representative;
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="alert-danger">Сигурен ли сте, че искате да изтриете този?</h3>
<div>
    <h4>Длъжник</h4>
    <hr />
    <ul>
        <li>
            <div><span class="font-weight-lighter alert-warning">Длъжник ИД:</span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span><span class="font-weight-lighter alert-warning">Име:</span> <span class="font-weight-bold alert-info col-md-1">@Model.FirstName @Model.MiddleName @Model.LastName</span><span class="font-weight-lighter alert-warning">ЕГН:</span> <span class="font-weight-bold alert-info col-md-1">@Model.EGN</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Имот:</span> <span class="font-weight-bold alert-info col-md-1">@Model.HeatEstate.Address</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Адрес за контакт:</span> <span class="font-weight-bold alert-info col-md-1">@addressToContact</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Телефон:</span> <span class="font-weight-bold alert-info col-md-1">@phone</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Електронна поща:</span> <span class="font-weight-bold alert-info col-md-1">@email</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Представител:</span> <span class="font-weight-bold alert-info col-md-1">@representative</span></div>
        </li>
    </ul>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Обратно</a>
    </form>
</div>
@section Logo {
    <img src="/logo2.jpg" height="35" />
}
