@model DebitorEditViewModel

@{
    ViewData["Title"] = "Детайли за Длъжник";
    var addressToContact = string.IsNullOrWhiteSpace(Model.AddressToContact) ? "n/a" : Model.AddressToContact;
    var email = string.IsNullOrWhiteSpace(Model.Email) ? "n/a" : Model.Email;
    var phone = string.IsNullOrWhiteSpace(Model.Phone) ? "n/a" : Model.Phone;
    var representative = string.IsNullOrWhiteSpace(Model.Representative) ? "n/a" : Model.Representative;
}

<partial name="_PartialView" />

<div>
    <hr />
    <ul>
        <li>
            <div><span class="font-weight-lighter alert-warning">Длъжник ИД:</span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span><span class="font-weight-lighter alert-warning">Име:</span> <span class="font-weight-bold alert-info col-md-1">@Model.FirstName @Model.MiddleName @Model.LastName</span><span class="font-weight-lighter alert-warning">ЕГН:</span> <span class="font-weight-bold alert-info col-md-1">@Model.EGN</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Имот:</span> <span class="font-weight-bold alert-info col-md-1">@Model.HeatEstate.Address</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Адрес за контакт:</span> <span class="font-weight-bold alert-info col-md-1">@addressToContact</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Телефон:</span> <span class="font-weight-bold alert-info col-md-1">@phone</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Електронна поща:</span> <span class="font-weight-bold alert-info col-md-1">@email</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Представител:</span> <span class="font-weight-bold alert-info col-md-1">@representative</span></div>
        </li>
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a> |
    <a asp-action="Index" class="btn btn-info">Обратно</a>
</div>
@section Logo {
    <img src="/logo2.jpg" height="35" />
}
