@model LawCaseViewModel

@{
    ViewData["Title"] = "Изтриване гражданско дело";
}

<h1>@ViewData["Title"]</h1>
<h3>Сигурен ли сте, че желаете да изтриете това дело?</h3>

<ul>
    <li>
        <div><span class="font-weight-lighter alert-warning">ИД: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Длъжник:  </span><span class="alert-info col-md-1 font-weight-bold">@Model.Debitor.FirstName @Model.Debitor.MiddleName @Model.Debitor.LastName <span class="font-weight-lighter alert-warning">  ЕГН:  </span> @Model.Debitor.EGN <span class="font-weight-lighter alert-warning">Емайл: </span> @Model.Debitor.Email, <span class="font-weight-lighter alert-warning">Тел.: </span>@Model.Debitor.Phone, <span class="font-weight-lighter alert-warning">Представител: </span>@Model.Debitor.Representative</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Абонатен номер: ИД: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.HeatEstate.AbNumber</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Адрес: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.HeatEstate.Address</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Дата на завеждане: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.Date.ToShortDateString()</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Главница: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.Value</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Мораторна лихва: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.MoratoriumInterest</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Законова лихва: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.LegalInterest</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Брой фактури: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.InvoiceCount</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Период начало: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.PeriodFrom.ToShortDateString()</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Период край: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.PeriodTo.ToShortDateString()</span></div>
    </li>

</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</form>
