@model IEnumerable<HeatEstateEditViewModel>

@{
    ViewData["Title"] = "Всички имоти";
}

<partial name="_PartialView" />

<p>
    Имотите са кеширани. Промените ще се отразят след 2 минути.<br />
    <a asp-action="Create" class="btn btn-primary">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Абонатен номер
            </th>
            <th>
                Адрес
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AbNumber
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AbNumber" class="btn btn-primary">Редактирай</a> |
                    <a asp-action="Details" asp-route-id="@item.AbNumber" class="btn btn-info">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.AbNumber" class="btn btn-danger">Към Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}
