@model IEnumerable<LegalActionViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>Всички съдебни действия</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Създай ново</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
