@model IEnumerable<CourtCasesViewModel>

@{
    ViewData["Title"] = "Съдебни дела";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Създай ново</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourtId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtName)
                @*Съд*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LawCaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtChamber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LawCaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtChamber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseType)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Към Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
