@model IEnumerable<CourtCasesViewModel>

@{
    ViewData["Title"] = "Съдебни дела";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Създай ново</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дело ИД
            </th>
            <th>
                Длъжник
            </th>
            <th>
                Дело №
            </th>
            <th>
                година
            </th>
            <th>
                Инстанция
            </th>
            <th>
                Вид
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id 
            </td>
            <td>
                @item.Debitor
            </td>
            <td>
                @item.CaseNumber /
            </td>
            <td>
                @item.CaseYear
            </td>
            <td>
                @item.CourtName
            </td>
            <td>
                @item.CaseType
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Към Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
