@model CourtDatabase2.Data.Models.CourtCase

@{
    ViewData["Title"] = "Изтриване";
}

<h1>@ViewData["Title"]</h1>

<h3>Сигурен ли сте, че желаете да изтриете това?</h3>
<div>
    <h4>Съдебно дело</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawCase.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtChamber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtChamber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
        <a class="btn btn-primary"asp-action="Index">Обратно</a>
    </form>
</div>
