@using CourtDatabase2.Data.Models
@model CourtCasesViewModel

@{
    ViewData["Title"] = "Изтриване";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="alert-danger">Сигурен ли сте, че желаете да изтриете това?</h3>
<div>
    <h4>Съдебно дело</h4>
    <hr />
    <ul>
        <li>
            <div><span class="font-weight-lighter alert-warning">Съд ИД:</span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Съд:</span> <span class="font-weight-bold alert-info col-md-1">@Model.CourtName</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Дело ИД:</span> <span class="font-weight-bold alert-info col-md-1">@Model.LawCaseId</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Дело №:</span> <span class="font-weight-bold alert-info col-md-1">@Model.CaseNumber</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Година:</span> <span class="font-weight-bold alert-info col-md-1">@Model.CaseYear</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Инстанция:</span> <span class="font-weight-bold alert-info col-md-1">@Model.CourtChamber</span></div>
        </li>
        <li>
            <div><span class="font-weight-lighter alert-warning">Вид дело:</span> <span class="font-weight-bold alert-info col-md-1">@Model.CaseType</span></div>
        </li>
    </ul>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Обратно</a>
    </form>
</div>
