@model CourtDatabase2.ViewModels.CourtCasesViewModel

@{
    ViewData["Title"] = "Детайли";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Детайли по дело</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawCaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawCaseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtChamber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtChamber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a> |
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</div>
