@model CourtDatabase2.Data.Models.CourtCase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourtCase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LawCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LawCase.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtChamber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtChamber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
