@using CourtDatabase2.ViewModels
@model IEnumerable<CourtTownEditViewModel>

@{
    ViewData["Title"] = "Всички съдебни градове";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Създай нов</a>
    <a class="btn btn-primary" asp-controller="Courts" asp-action="All">Към всички съдилища</a>
</p>

<table class="table table-bordered table-hover">
@*<table class="table ">*@
    <thead>
        <tr>
            <th>
                Град
            </th>
            <th>
                Адрес
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
        <tr>
            <td>
                @t.TownName
            </td>
            <td>
                @t.Address
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@t.Id">Редактирай</a> |
                <a a class="btn btn-primary" asp-action="Details" asp-route-id="@t.Id">Детайли</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@t.Id">Към Изтрий</a>

            </td>
        </tr>
        }
    </tbody>
</table>
