@model ExecutorsCasesEditViewModel

@{
    ViewData["Title"] = "Изтрий изпълнително дело";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="alert-danger">Сигурен ли сте, че желаете да изтриете това изпълнително дело?</h2>

<ul>
    <li>
        <div><span class="alert-warning">Дело ИД:</span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span></div>
    </li>
    <li>
        <div><span class="alert-warning">Съдебен изпълнител:</span> <span class="font-weight-bold alert-info col-md-1">@Model.Executor.Name</span></div>
    </li>
    <li>
        <div><span class="alert-warning">Изпълнително дело №:</span> <span class="font-weight-bold alert-info col-md-1">@Model.ExecutorCaseNumber/@Model.Year г.</span></div>
    </li>
    <li>
        <div><span class="alert-warning">главница:</span> <span class="font-weight-bold alert-info col-md-1 ">@Model.LawCase.Value лв.</span></div>
    </li>
    <li>
        <div><span class="font-weight-lighter alert-warning">Длъжник:</span> <span class="font-weight-bold alert-info col-md-1 ">@Model.LawCase.Debitor.FirstName @Model.LawCase.Debitor.MiddleName @Model.LawCase.Debitor.LastName</span></div>
    </li>
</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Изтрий директно" class="btn btn-danger" /> |
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</form>
