@model IEnumerable<PaymentsAllViewModel>

@{
    ViewData["Title"] = "Всички плащания";
}

<partial name="_PartialView" />

<p>
    <a class="btn btn-primary" asp-action="Create">Направи плащане</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Платена сума
            </th>
            <th>
                Дата на плащане
            </th>
            <th>
                Начин на плащане
            </th>
            <th>
                Дело ИД
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Value лв.
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.PaymentSource
                </td>
                <td>
                    @item.Contractor
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Към Изтрий</a>
                </td>
            </tr>
        }
    </tbody>

</table>