@model IEnumerable<ExpenseAllViewModel>

@{
    var id = ViewBag.MyId;
    var name = this.Model.Where(x => x.LawCaseId == id).Select(x => x.DebitorName).FirstOrDefault();
    var value = this.Model.Where(x => x.LawCaseId == id).Select(x => x.CaseValue).FirstOrDefault();
    var sumExpenses = this.Model.Sum(x => x.ExpenceValue);
    ViewData["Title"] = $"Всички разноски по делото срещу {name} с главница - {value} лв. - ИД {id}";
}

<h4>@ViewData["Title"]</h4>

<a asp-area="DebitorsCases" asp-action="Details" asp-route-id="@id" class="btn btn-info">Обратно</a>
<a asp-area="DebitorsCases" asp-action="CreateExpense" asp-route-id="@id" class="btn btn-info">Създай разноски</a>

<h6>
    <span class="alert-danger">Сумата на разноските е @sumExpenses лв.</span>
</h6>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ид</th>
            <th>Стойност</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Получател</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ExpenceValue</td>
                <td>@item.ExpenceDate</td>
                <td>@item.ExpenceDescription</td>
                <td>@item.Payee</td>
                <td>
                </td>
            </tr>
        }

    </tbody>
</table>


