@model DebitorsCasesAllViewModel

@{
    ViewData["Title"] = "Детайли за дело";
    var debitorsAddress = Model.AddressDebitor == null ? Model.AddressEstate : Model.AddressDebitor;
    var legalInterest = Model.LegalInterest == 0 ? "n/a" : Model.LegalInterest.ToString();
}



<h3 class="text text-info text-center">@ViewData["Title"]</h3>
<a class="btn btn-info" asp-action="Index">Назад към всички дела</a>
<ul>
    <li>
        <div><span class="font-weight-lighter alert-warning">ИД: </span> <span class="alert-info col-md-1 font-weight-bold">@Model.Id</span></div>
    </li>
    <li>
        <span class="border border-dark"><span class="font-weight-lighter alert-warning">Имена: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.Name</span><span class="font-weight-lighter alert-warning">ЕГН: </span><span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.EGN</span><span class="font-weight-lighter alert-warning"></span></span>
    </li>
    <li>
        <span class="border border-dark"><span class="font-weight-lighter alert-warning">Абонатен номер: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.HeatEstate.AbNumber</span><span class="font-weight-lighter alert-warning"></span><span class="font-weight-lighter alert-warning">Адрес на обекта: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.AddressEstate</span></span>
    </li>
    <li>
        <span class="border border-dark"><span class="font-weight-lighter alert-warning">Адрес на длъжника: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@debitorsAddress</span><span class="font-weight-lighter alert-warning"></span></span>
    </li>
    <li>
        <span class="border border-dark"><span class="font-weight-lighter alert-warning">Главница: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.MainValue</span><span class="font-weight-lighter alert-warning">Мораторна лихва: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.MoratoriumInterest</span><span class="font-weight-lighter alert-warning">Законна лихва: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@legalInterest</span><span class="font-weight-lighter alert-warning"></span></span>
    </li>
    <li>
        <span class="border border-dark"><span class="font-weight-lighter alert-warning">Брой фактури: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.InvoiceCount</span><span class="font-weight-lighter alert-warning">Период от: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.PeriodFrom.ToShortDateString()</span><span class="font-weight-lighter alert-warning">Период до: </span> <span class="alert-info col-md-1 font-weight-bold border border-dark">@Model.PeriodTo.ToShortDateString()</span><span class="font-weight-lighter alert-warning"></span></span>
    </li>

</ul>

<nav display: block; class="navbar navbar-expand alert-success breadcrumb-item mb-1">
    <a asp-area="DebitorsCases" asp-controller="Home" asp-action="AllExpenses" asp-route-id="@Model.Id" class="btn btn-warning font-size: 1px;">Разноски</a>|
    <a asp-area="DebitorsCases" asp-controller="Home" asp-action="AllPayments" asp-route-id="@Model.Id" class="btn btn-warning font-size: 1px;">Плащания</a>|



    <a class="nav-link text-dark" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</a>
    <div class="dropdown-menu dropdown-menu-lg-left" aria-labelledby="nav-inner-_dropdown_1">
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Application410" asp-route-id="@Model.Id" class="btn btn-warning">Заявление по 410</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="CivilClaim" class="btn btn-warning">Искова молба</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Expert" class="btn btn-warning">Молба вещо лице</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Advocate" class="btn btn-warning">Молба особен представител</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Certificate" class="btn btn-warning">Удостоверение</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="CopyAndExecutionList" class="btn btn-warning">Препис и ИЛ</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="OrderExecutionList" class="btn btn-warning">ИЛ заповед</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Inheritor" class="btn btn-warning">Наследник</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="DistanceAccess" class="btn btn-warning">Отдалечен достъп</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="ExecutorCase" class="btn btn-warning">Образуване изп дело</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="WithDrawalOfCivilClaimWithPaiment" class="btn btn-warning">Платено гр. дело</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="WithDrawalOfExecutorsCaseWithPaiment" class="btn btn-warning">Платено изп дело</a>|
        <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="WithDrawalOfExecutorsCaseNoPaiment" class="btn btn-warning">Прекратяване изп дело</a>|
    </div>
    <a asp-area="DebitorsCases" asp-controller="Home" asp-action="AllActions" asp-route-id="@Model.Id" class="btn btn-warning font-size: 1px;">Отчет действия</a>|


</nav>
